* {
    padding:0; margin:0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: white;
}


body {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}

/* Basic flex containers */
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 20px;
}

.flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}
/* general container */

.container {
    height: 100%;
    width: 80%;
    padding: 60px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:60px;
}

/* Set font styling based on information priority */
.priority1 {
    font-size: 4rem;
}

.priority2, .active{
    font-size: 2rem;
}

.priority3 {
    font-size: 1.25rem;
}

.priority4 {
    font-size: .8rem;
}

/* Button stylings */
button {
    font-size: 1.25rem;
}
button .active {
    font-size: 1.5rem;
}





