
@font-face {
    font-family: "WeatherFont";
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}
:root{
    --base: #00213D;
    --base-transparent: #00213d6c;
}
 /* type stylings  */
* {
    padding:0; margin:0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}


body {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
}

form {
    padding: 5px 10px;
}

::placeholder{
    color:whitesmoke;
}
input {
    appearance: none;
    padding: 5px 10px;
    color: white;
    background: none;
    border:none;
    border-bottom: 2px solid white;
}

input:focus-visible{
    outline:none;
    background-color: var(--base-transparent);
    box-shadow: 0px 3px 6px var(--base);
} 


/* Basic flex containers */
.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    gap: 20px;
}


.flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}

/* flex item stylings */
.flex-fill {
    flex: 1;
}


/* gap stylings */
.gap-sm {
    gap: 10px;
}

.gap-md {
    gap: 30px;
}

.gap-lg {
    gap: 60px;
}

/* general container */
.container {
    height: 100%;
    width: 80%;
    padding: 60px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
}

/* Set font styling based on information priority */
.priority1 {
    font-size: 4rem;
}

.priority2, .active{
    font-size: 2rem;
}

.priority3 {
    font-size: 1.25rem;
}

.priority4 {
    font-size: .8rem;
}

/* Button stylings */
button {
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    
}
button.active {
    font-size: 2.25rem;
}

.btn-no-bg {
    padding: 5px;
    background: none;
    border: none;
    border-radius: 5px
}

.btn-no-bg:hover {
    background:white;
    color: var(--base);
    box-shadow: 0px 3px 6px 2px var(--base);
}

button .icon {
    background: none;
}


/* position and size stylings */
.width-sm {
    width: 300px;
    max-width:100%;
}

.width-md {
    width: 800px;
    max-width:100%;
}

.width-fill {
    width: 100%;
}

.icon {
    font-size: 2rem;
}
/* general stylings */
.bg-base {
    padding: 40px 30px;

    background-color: var(--base-transparent);
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--base);
}

.text-end {
    text-align: end;
}